{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}::{{ brand }}</title>
    <link href="{% static "/base/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "/base/css/custom-styles.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ brand }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home <i class="fa fa-home"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Browse <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/books">Books</a></li>
                        <li><a href="/authors">Authors</a></li>
                        <li><a href="/genre">by Genre</a></li>
                        <li><a href="/publisher">by Publisher</a></li>
                        <li><a href="/series">Series</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="page-header" style="padding-top:5px;">
        {% block header %}
            <h1>Oops, nothing here.</h1>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}
            <p>Could not find the requested page. It probably went on vacation or something...</p>
        {% endblock %}
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <small class="text-muted col-md-4">&copy; 2016 - PyLib Development Group</small>
            <small class="text-muted col-md-4"><a href="/imprint">Imprint</a>&bull;<a href="/contact">Contact us</a>&bull;<a
                    href="/tou">Terms of Use</a></small>
            <small class="text-muted col-md-4">Our social media: <a
                    href="https://plus.google.com/communities/104867842638230671514"><i
                    class="fa fa-google-plus-square"></i></a></small>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://use.fontawesome.com/1a9a7663f2.js"></script>
<script>if (type(jQuery) == None) {
    console.error('Could not load jQuery from online source, falling back to local copy');
    document.write('<script src="{% static "base/js/jquery.min.js" %}"><\/script>');
}
</script>
<script src="{% static "base/js/bootstrap.min.js" %}"></script>


</body>
</html>