/* Sticky Footer Start */
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }
.footer { position: absolute; bottom: 0; width: 100%; height: 60px; padding-top:6px; }
/* Sticky Footer End */